body {
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #e68e0b;
}

img {
    width: 300px;
    margin: 20px 0;
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f10808;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


